/************************************TAG SELECTOR************************************************/
body{
    background-color: #e2e2e4;
}

b{
    color: #1c6882;
}


/************************************************************************************/

::selection{
    color: white  ;
    background-color: #0aa4d8;
  }
  
  ::-webkit-scrollbar{
    width: 10px;
    
  }
  
  ::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, .15);
  }
  
  ::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: #1d3f6b;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: #182536;
  }
  


/************************************COLOR PALETTE************************************************/
/*
It's just a color palette from another site
This Selection do nothing
*/

.colors{
    /* b color */
    background-color: #1c6882;
    /* b draker color */
    color: #1a293c;
}