.personalCard{

    width: 25%;
    height: 200px;
    background-color: red;
    float: left;
    margin: 0px;

}

.topBox{
    width: 75%;
    height: 200px;
    background-color: blue;
}

.languagesBox{
    
}


.cVBox{

}

.contactBox{
    
}





body{
    background-color: 	#000000;
    font-family: 'Fira Sans', sans-serif;
    color: #ffffff;
    max-width: 100%;
}


img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}


/*

#330202

*/