/***************************************TAG SELECTOR***************************************************/
body{
  background-color: rgb(216, 216, 216);
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  color: rgb(20, 20, 20);
}

b{
  color: #2194bb;
}

h1{
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 12px;
  margin-bottom: 5px;
  margin-left: 15px;
  display: inline-block;
}

h2{
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 12px;
  margin-bottom: 5px;
  margin-left: 15px;
  display: inline-block;
}

h3{
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

hr{
  width: 90%;
  height:2px;
  border-width:0;
  color:gray;
  background-color:gray
}

li{
  margin-top: 10px;
  
  font-size: 20px;
}
/****************************************CLASSES DEFINIATION**********************************************/
/**********SIDE MENU************/
.sidemenu{
  font-family: 'Fira Sans', sans-serif;
  background-color: #1a293c;
  color: #ececec;
  float: left;
  width: 30%;
  min-height: 1050px;
  position: absolute;
  display: block;
}

.profile-pic{
  width: 12em;
  height: 12em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
}

.text{
  margin-left: 75px;
  margin-right: 25px;
}

.gap{
  margin-left: 75px;
}

.icon{
  width: 27px;
  height: 27px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
}

/**********BODY DIV************/
.content{
  width: 70%;
  min-height: 1100px;
  background-color: rgb(216, 216, 216);
  color: rgb(32, 32, 32);
  float: right;
  font-size: 16px;
}

.h1-blue{
  color: #2194bb;
  font-family: 'Roboto Condensed', sans-serif;
}
.h2-blue{
  color: #2194bb;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  margin-bottom: 0px;
  margin-top: 4px;
}

.tex2{
  margin-left: 35px;
  margin-right: 80px;
}

.tex3{
  margin-top: 3px;
  margin-bottom: 21px;
  margin-left: 15px;
  margin-right: 80px;
}

/**********TITLE DIV************/
.title{
  text-align: center;
  color: white;
  background-color: #1a293c;
  height: 150px;
  max-width: 70%;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 50px;
}

.h1-white{
  font-size: 50px;
  margin-top: 15px;
}

.h2-white{
  font-size: 20px;
  margin-top: 15px;
}
/********************************************FANCY PART**************************************************/
::selection{
  color: white  ;
  background-color: #0aa4d8;
}
  
::-webkit-scrollbar{
  width: 10px;   
}
  
::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, .15);
}
  
::-webkit-scrollbar-thumb{
  border-radius: 2px;
  background-color: #1d3f6b;
}
  
::-webkit-scrollbar-thumb:hover{
  background-color: #182536;
}
